/* Основний блок хедера */
.header {
  width: 100%;
  background-color: #DA291C; /* Фірмовий червоний фон */
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Легка тінь */
  text-align: center;
}

/* Контейнер з логотипом і картинкою */
.header__container {
  max-width: 1230px;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between; /* логотип зліва, картинка справа */
}

/* Текстовий логотип */
.header__logo {
  color: #FFC72C;
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Картинка праворуч */
.header__image {
  width: 60px;
  height: 60px;
  object-fit: contain;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.header__image:hover {
  transform: scale(1.1);
}

/* Обгортка для анімації */
.header__basket-wrapper {
  width: 48px;
  height: 48px;
  perspective: 600px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.6s ease;
}

/* Саме зображення */
.header__image {
  width: 70px;
  height: 70px;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

/* Ефект перевороту при false */
.header__basket-wrapper.flipped .header__image {
  transform: rotateY(180deg);
}