.header {
  width: 100%;
  background-color: #DA291C; /* Фірмовий червоний фон */
  display: flex;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Легка тінь */
  text-align: center;
}

.header__container {
  max-width: 1230px; /* Максимальна ширина контейнера */
  width: 100%;
  padding: 20px 15px; /* Падінг по боках */
}

.header__logo {
  color: #FFC72C; /* Жовтий фірмовий колір */
  font-size: 2.5rem; /* Великий розмір */
  font-weight: 800;
  text-transform: uppercase; /* Капслок */
  letter-spacing: 1px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Легка тінь для тексту */
}
